# Task 6.1 - Sourcing Open Data

    Table of Contents

    1. Importing Libararies and Data
    2. Dataframe Overview
    3. Data Cleaning
    
    - Checking for mixed data types
    - Checking for Duplicates
    - Checking for missing values
    - Updating Column Names
    - Inaccurate/Inconsistent Data

    4. Column Derivation 
    - Added Non_Homeless_Pop column to compare Homeless Encounters to Non_Homeless Encounters
    
    5. Statistical Analysis
    6. Understanding the Data
    7. Final Shape
    8. Exporting the Data

## 1. Importing Libaries and Data

In [101]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [102]:
# creating data path
path = r'C:\Users\there\Desktop\Achievement 6\02 Data\Original Data'

In [103]:
# importing data
df = pd.read_csv(os.path.join(path, '2019-2020-homeless-ip-and-ed-by-facility.csv'), index_col = False)

## 2. Dataframe Overview

In [104]:
# checking imported data
df.head()

,EncounterType,HospitalCounty,OSHPD_ID,FacilityName,System,Ownership,Urban_Rural,Teaching,LicensedBedSize,PrimaryCareShortageArea,MentalHealthShortageArea,HomelessIndicator,Demographic,DemographicValue,Encounters,TotalEncounters,Percent
0,Inpatient Hospitalizations,Alameda,10735,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,0 to 18,0,288,0.0
1,Inpatient Hospitalizations,Alameda,10735,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,19 to 39,42,288,14.6
2,Inpatient Hospitalizations,Alameda,10735,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,40 to 59,147,288,51.0
3,Inpatient Hospitalizations,Alameda,10735,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,60+,99,288,34.4
4,Inpatient Hospitalizations,Alameda,10739,Alta Bates Summit Medical Center-Alta Bates Ca...,Sutter Health,Non-Profit,Urban,Non-Teaching,300-399,No,No,Homeless,Age,0 to 18,5,846,0.6

In [105]:
# viewing datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25449 entries, 0 to 25448
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EncounterType             25449 non-null  object
 1   HospitalCounty            25449 non-null  object
 2   OSHPD_ID                  25449 non-null  int64
 3   FacilityName              25449 non-null  object
 4   System                    16609 non-null  object
 5   Ownership                 25449 non-null  object
 6   Urban_Rural               25449 non-null  object
 7   Teaching                  25449 non-null  object
 8   LicensedBedSize           25449 non-null  object
 9   PrimaryCareShortageArea   25449 non-null  object
 10  MentalHealthShortageArea  25449 non-null  object
 11  HomelessIndicator         25449 non-null  object
 12  Demographic               25449 non-null  object
 13  DemographicValue          25449 non-null  object
 14  Encounters                25449 non-null  int64
 15  TotalEncounters           25449 non-null  int64
 16  Percent                   25449 non-null  float64
dtypes: float64(1), int64(3), object(13)
memory usage: 3.3+ MB

In [106]:
# renaming Encounters to be more intuitive
df.rename(columns = {'Encounters': 'Homeless_Pop'}, inplace = True)

In [107]:
# dropping column OSHPD_ID as it is not needed for this project
df = df.drop(columns = ['OSHPD_ID'])

In [108]:
# verifying column was removed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25449 entries, 0 to 25448
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EncounterType             25449 non-null  object
 1   HospitalCounty            25449 non-null  object
 2   FacilityName              25449 non-null  object
 3   System                    16609 non-null  object
 4   Ownership                 25449 non-null  object
 5   Urban_Rural               25449 non-null  object
 6   Teaching                  25449 non-null  object
 7   LicensedBedSize           25449 non-null  object
 8   PrimaryCareShortageArea   25449 non-null  object
 9   MentalHealthShortageArea  25449 non-null  object
 10  HomelessIndicator         25449 non-null  object
 11  Demographic               25449 non-null  object
 12  DemographicValue          25449 non-null  object
 13  Homeless_Pop              25449 non-null  int64
 14  TotalEncounters           25449 non-null  int64
 15  Percent                   25449 non-null  float64
dtypes: float64(1), int64(2), object(13)
memory usage: 3.1+ MB

In [109]:
# viewing numer of rows and columns
df.shape

(25449, 16)

## 3. Data Cleaning

#### Mixed Data Types

In [110]:
# checking for mixed datatypes
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

System

In [111]:
# updated System to be a string instead of mixed data type
df['System'] = df['System'].astype('str')

In [112]:
# rechecking for mixed datatypes
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

There was one column [System] with a mixed data-type.  Updated column to a string datatype.

#### Missing Values

In [113]:
# finding if there are any missing values
df.isnull().sum()

EncounterType               0
HospitalCounty              0
FacilityName                0
System                      0
Ownership                   0
Urban_Rural                 0
Teaching                    0
LicensedBedSize             0
PrimaryCareShortageArea     0
MentalHealthShortageArea    0
HomelessIndicator           0
Demographic                 0
DemographicValue            0
Homeless_Pop                0
TotalEncounters             0
Percent                     0
dtype: int64

There are no missing values

#### Duplicates

In [114]:
# creating a subset to remove duplicates
df_clean = df[df.duplicated()]

In [115]:
# checking shape to see how many duplicates there were
df_clean.shape

(0, 16)

In [116]:
df_clean.head()

Empty DataFrame
Columns: [EncounterType, HospitalCounty, FacilityName, System, Ownership, Urban_Rural, Teaching, LicensedBedSize, PrimaryCareShortageArea, MentalHealthShortageArea, HomelessIndicator, Demographic, DemographicValue, Homeless_Pop, TotalEncounters, Percent]
Index: []

There were no duplicates

#### Inaccurate or Inconsistent Data

In [117]:
# viewing data in LicensedBedSize variable
print(df['LicensedBedSize'].unique())

['100-199' '300-399' '200-299' 'Jan-99' '400+']

'Jan-99' needs to be updated to reflect the number of beds are between 01-99

In [118]:
# testing out replacing data in a subframe
test = df.replace("Jan-99", "01-99", inplace=True)

In [119]:
print(df['LicensedBedSize'].unique())

['100-199' '300-399' '200-299' '01-99' '400+']

## 4. Column Derivation

In [120]:
# adding a column that counts the Non-Homeless population
df=df.assign(Non_Homeless_Population = df.TotalEncounters - df.Homeless_Pop)

In [121]:
df.head()

,EncounterType,HospitalCounty,FacilityName,System,Ownership,Urban_Rural,Teaching,LicensedBedSize,PrimaryCareShortageArea,MentalHealthShortageArea,HomelessIndicator,Demographic,DemographicValue,Homeless_Pop,TotalEncounters,Percent,Non_Homeless_Population
0,Inpatient Hospitalizations,Alameda,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,0 to 18,0,288,0.0,288
1,Inpatient Hospitalizations,Alameda,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,19 to 39,42,288,14.6,246
2,Inpatient Hospitalizations,Alameda,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,40 to 59,147,288,51.0,141
3,Inpatient Hospitalizations,Alameda,Alameda Hospital,Alameda Health System,Government,Urban,Non-Teaching,100-199,No,No,Homeless,Age,60+,99,288,34.4,189
4,Inpatient Hospitalizations,Alameda,Alta Bates Summit Medical Center-Alta Bates Ca...,Sutter Health,Non-Profit,Urban,Non-Teaching,300-399,No,No,Homeless,Age,0 to 18,5,846,0.6,841

## 5. Statistical Analysis

In [122]:
# checking the overall statistical information
df.describe()

        Homeless_Pop  TotalEncounters       Percent  Non_Homeless_Population
count   25449.000000     25449.000000  25449.000000             25449.000000
mean     4737.598373     20135.015718     23.529211             15397.417344
std     11630.923563     35862.090590     23.181105             28568.578756
min         0.000000         1.000000      0.000000                 0.000000
25%        24.000000       472.000000      2.800000               310.000000
50%       303.000000      2406.000000     17.100000              1725.000000
75%      3233.000000     24756.000000     39.200000             17964.000000
max    159647.000000    262076.000000    100.000000            261426.000000

In [123]:
# checking the average
average = df[["Homeless_Pop", "Non_Homeless_Population", "TotalEncounters","Percent"]].mean()
print(average)

Homeless_Pop                4737.598373
Non_Homeless_Population    15397.417344
TotalEncounters            20135.015718
Percent                       23.529211
dtype: float64

In [124]:
# checking the median due to outlier sensitivity with the average/mean
median = df[["Homeless_Pop", "Non_Homeless_Population", "TotalEncounters","Percent"]].median()
print(median)

Homeless_Pop                303.0
Non_Homeless_Population    1725.0
TotalEncounters            2406.0
Percent                      17.1
dtype: float64

In [125]:
# checking the variance
var = df[["Homeless_Pop", "Non_Homeless_Population", "TotalEncounters","Percent"]].var()
print(var)

Homeless_Pop               1.352784e+08
Non_Homeless_Population    8.161637e+08
TotalEncounters            1.286090e+09
Percent                    5.373636e+02
dtype: float64

## 6. Understanding the Data

- Mean/Median:  We have a large difference between the mean(s) and median(s).  The largest difference is with the Homeless Encounters variable.  Due to the large difference and the mean being sensitive to outliers, this indicates there may be outliers and the data should be looked into for further analysis. 


- Variance:  There is a very large variance, which tells us that the spread of the data is very large. 


- Std. Deviation:  1 standard deviation away from the mean is 11,630, which will account for about 68% of the homeless encounters at the hospitals in California.

## 7. Final Shape

In [126]:
df.shape

(25449, 17)

## 8. Export to CSV

In [127]:
df.to_csv(r'C:\Users\there\Desktop\Achievement 6\02 Data\Prepared Data\6.1_Cleaning_and_Desc_Statistics.csv')